/* Input Field Button */
input[type="text"] {
    width: 200px;
    height: 20px;
    padding-right: 50px;
    padding: 10px;
}

input:not([type]), input[type=text]:not(.browser-default), 
textarea.materialize-textarea {
  border-bottom: none;
  margin: -5px 0 0 0;
}

input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button[type="submit"] {
    margin-left: -50px;
    height: 25px;
    width: 50px;
    background: none;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
    font-weight: bold;
    color:#0095F6;
    outline: none;
}

button[type="submit"]:disabled {
    opacity: 0.3;
}

/* .sqdOP[disabled]:not(.A086a) {
    opacity: .3;
}

.sqdOP[disabled], a.sqdOP[disabled] {
    pointer-events: none;
} */