#nav-mobile li {
    width: 19%;
    margin-left: 20%;
}

#nav-mobile {
    width: 80%;
    margin-left: 20%;
}

.nav-wrapper {
    /* display: flex; */

  }

  .menu-container {
      
  }

.brand-logo {
    width: 20%;
}

.big-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav.nav-container {

}
.menu-container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    margin-right: 9%;
    top: -3px;
    cursor: pointer;
}

  